
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
header img{
     width: 140px;
     height: 60px;
     padding-top: 24px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
}
nav .menu{
    display: flex;
    gap: 32px;
    list-style-type: none;
align-items: center;
}
nav .menu a{
text-align: center;
    color: black;
    text-decoration: none;
    size: 16px;
}
.btn{
    background-color: #469165;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
}
.background-image{
    height: 500px;
    background-image: url("../image/hero-bg.png");
     background-size: cover;
     text-align: center;
     align-items: center;
 
}
.background-image button{
    margin-top: 124px;
    width: 230px;
    height: 35px;
    background-color: white;
    color: #469165;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}
.background-image .h1{
    color: white;
    width: 770px;
    height: 170px;
    margin-top: 20px;
}
.background-image .text{
    color: #30B868;
    width: 770px;
    height: 170px;

}
.background-image p{
    color: white;
    font-size: 18px;
}
.mainbt .button1{
    background-color: #469165;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.mainbt .button2{
    background-color: transparent;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid white;
    color: #ffff;
    cursor: pointer;
}
#skills {
    padding-top: 24px;
}
#skills .skills-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
.section-heading{
    margin: 0 auto;
    text-align: center;
}
.section-heading h1{
    font-size: 48px;
}
.section-heading p{
    color: #627382;
    font-size: 14px;
}
#skills .skills-container .skill-box{
    display: flex;
    gap: 40px;
}
.skill-card{
    box-shadow: 0 0 8px 0;
    color: #0000001b;
    padding: 24px;
    max-width: 322px;
    margin-top: 30px;
}
.skill-card img{
    text-align: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    justify-content: center;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 14px;
    width: 60px;
size: 3px;
padding-bottom: 17px;
}
.skill-card h4{
    color: #001931;
    padding-bottom: 12px;
}
.skill-card p{
    color: #627382;
    font-size: 16px;
}
#step {
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#step img{
    width: 2800ox;
    height: 200px;
    margin-left: 50px;
}
.step-container{
    padding-top: 52px;

}
.step-container p{
    font-size: 12px;
    color: #469165;
    padding-bottom: 24px;
}
.step-container h1{
    color: #001931;
padding-bottom: 24px;
}
.after-step{
    color: #001931;
    text-decoration: none;
    list-style-type: none;
}
.after-step li{
    background: url("../image/CheckCircle.png") no-repeat;
    padding-left: 25px;
    
}
#last{
    padding-top: 0;
}
#last .last-container{
    width: 80%;
    max-width: 1280px;
    text-align: center;
    margin: 0 auto;
    background-color: #F7F6F2;
    padding: 40px 80px;
}
.last-container h1{
    padding-bottom: 16px;
    color: #001931;
}
.last-container p{
    padding-bottom: 16px;
    color: #627382;
    font-size: 16px;
}
.last-container .btn{
    margin-bottom: 16px;
    cursor: pointer;
}
.foot-image{
    background-color: #001931;
    height: 250px;
    margin-top: 80px;
    
}
.foot-image .media{
    margin: 0 auto;
padding: 80px 80px;
}
.foot-image .media p{
    color:white;
    font-size: 16px;
    padding-left: 20px;
    margin-right: 22px;
}
.foot-image .media img{
    color: white;
}
.project{
    align-items: center;
    text-align: center;
}
.line{
    width: 100%;
    height: 1px;
    color: white;

}
.project{
    color: white;
    font-size: 16px;
}




